doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Caluculator
  body
    h1 DATA SETTINGS
    h2 Enter more data
    form(method="post" action="/addData") 大会名
      input(type="number" name="nameOfMeet") 
      |競技会番号
      br
      input(type="number" name="nameOfSwimmer") 
      |選手ID番号
      br
      input(type="number" name="length") 
      |距離
      br
      input(type="radio", value="1" name="pool")
      |短水路
      input(type="radio", value="2" name="pool")
      |長水路
      br
      input(type="radio", value="fr" name="style") 
      |FR
      input(type="radio", value="fly" name="style") 
      |FLY
      input(type="radio", value="ba" name="style") 
      |Ba
      input(type="radio", value="br" name="style") 
      |Br
      button(type="submit") 登録
