doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Caluculator
  body
    h1 Time Calc
    h2 RESULT
    ul 
      each val in tweet
        li #{val}
    a(href="/") RESET
    br
    a(href="http:/addData") ADD DATA